@import 'variables';
body {
  margin: 0;
  background: $color_background;
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
  }
  
  #nav {
    a {
      font-weight: bold;
      color: #2c3e50;
  
      &.router-link-exact-active {
        color: $color_green;
      }
    }
  }
  /*
  .dashboard {
    width: 100%;
    display: flex;

    .company {
      width: 20%;
      height: 100vh;
      background: $color_white;
      .company_block {
        padding: 10px
      }
    }
    .tasks {
      width: 60%;
    }
    .chat {
      width: 20%;
      height: 100vh;
      background: $color_white;
    }
  }
  */
  
  .dashboard {
    display: flex;
    flex-wrap: wrap;
    .block {
      width: 25vw;
    }
    .wide-block {
      width: 50vw;
    }
  }
  .card-grey {
    background: $color_grey;
    margin-bottom: 10px;
  }

  .active {
    background: $color_green;
  }

  .flex {
    display: flex;
    h4 {
      margin: 0;
    }
    div {
      margin: 0 10px;
    }
  }
  .slot {
    background: $color_pink;
    margin-right: 10px;
  }

  .task-slot {
    display: flex;
  }
  .choose-office {
    position: absolute;
    background: rgba(233,233,233,0.9);
    left: 10vw;
    top: 10vh;
    width: 50vw;
    height: 50vh;
    z-index: 2;
    
    .office {
      border: 1px solid $color_black;
      border-radius: 20px;
    }

    .close {
      position: absolute;
      top: 5%;
      right: 5%;
    }
  }

  .choose {
    position: absolute;
    background: rgba(233,233,233,0.9);
    left: 10vw;
    top: 10vh;
    width: 50vw;
    height: 50vh;
    z-index: 2;
    
    .employee {
      border: 1px solid $color_black;
      border-radius: 20px;
    }

    .close {
      position: absolute;
      top: 5%;
      right: 5%;
    }
  }