$color_green: #42b983;
$color_black: #2c3e50;
$color_grey: #ccc;
$color_pink: #DEACDD;

$color_background: #FFF4CC;
$color_white: #FFFFFF;
$color_yellow_accent: #FFBD12;
$color_blue_accent: #0153B5;
$color_card_hover: crimson;